{% extends 'AcmeWebBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="resources/css/acme_web_login.css"
    "bundles/acmeweb/css/login.css"
    filter="cssrewrite"
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    output='resources/js/acme_web_login.js'
    'bundles/acmeweb/js/login.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block body %}

<div class="vertical-center">
    <div class="centered">
                <h2 class="text-center text-primary">系统后台登录</h2>
                <form class="form col-md-12 center-block" autocomplete="off" action="{{ path('acme_web_security_loginCheck') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="username" name="_username" autocomplete="off" placeholder="用户名"  />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" id="password" placeholder="密码" autocomplete="off" name="_password"  />
                </div>
                {% if error %}
                    <div class="form-group text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="checkbox">
                    <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" checked>记住我</label>
                </div>
                    <button class="btn btn-lg btn-primary btn-block text-center" type="submit">登 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                </form>

    </div>
</div>
{% endblock %}
